<template>
  <div class="hello">
    <h1>{{ msg }} {{ name }}</h1>
    <button @click="updateName">Set name</button>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  props: {
    msg: String,
  },
  data() {
    return {
      name: '',
    };
  },
  methods: {
    updateName() {
      this.name = 'DevOpsDays Istanbul';
    },
  },

};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
